* {
  margin: 0;
  padding: 0;
}

.logoBrand {
  border-radius: 50%;
  height: 75px;
}

#mainTitle {
  font-size: 25px;
  padding-left: 10px;
}

.logosNavbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: black;
}

.brandsStock {
  background-color: black;
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  align-items: center;
}

.styleLineNav {
  background-image: linear-gradient(to bottom, red, rgb(226, 66, 66));
  height: 3px;
  border: 0;
}

#mainSearchNav {
  padding-right: 30px;
}
